@font-face {
    font-family: "PTSerif";
    src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
font-family: "PTSerif";
src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "PTSerif";
    src: url("../fonts/PTSerif-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerif";
    src: url("../fonts/PTSerif-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}

body {
    font-family: "PTSerif";
}

a {
    color: rgb(43,44,132);
}

.btn-first {
    color: #FA4616;
    background-color: #FFF;
    border-color: #FA4616;
}

.btn-first:hover {
    color: #fff;
    background-color: #FA4616;
    border-color: #FA4616;
}

.btn-first:focus, .btn-first.focus {
    color: #fff;
    background-color: #FA4616;
    border-color: #FA4616;
    box-shadow: 0 0 0 0.2rem rgba(234,86,20, 0.5);
}

.btn-first.disabled, .btn-first:disabled {
    color: #fff;
    background-color:  #FA4616;
    border-color:  #FA4616;
}

.btn-first:not(:disabled):not(.disabled):active, .btn-first:not(:disabled):not(.disabled).active,
.show > .btn-first.dropdown-toggle {
    color: #fff;
    background-color: #FA4616;
    border-color: #FA4616;
}

.btn-first:not(:disabled):not(.disabled):active:focus, .btn-first:not(:disabled):not(.disabled).active:focus,
.show > .btn-first.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(234 86 20, 0.5);
}

.text-first {
    color: #000;

    transition: text-shadow .3s;
}

.text-first:hover, .text-first:active {
    color: #FA4616;
    text-shadow: 0 0 .2rem rgba(234, 86 20, 0.2);
}

.form-label-title-blue {
    color: #000!important;
    font-size: 1rem;
    text-decoration: none!important;
}

.breadcrumb {
    background-color: rgba(0, 0, 0, 0.05)!important;
}

.breadcrumb .breadcrumb-item a {
    color: #000!important;
    font-size: 14px;
    text-decoration: none!important;
}

.breadcrumb span {
    color: #646478!important;
    font-size: 14px;
}

.btn-info {
    background-color: rgb(43,44,132)!important;
    border-color: rgb(43,44,132)!important;
}

.main-menu{
    background-color: #FA4616!important;
    color: #FFF;
}

.list-group-item-info {
    color: #30353B;
    background-color: #fff;
    padding: 15px 40px;
}
.btn-success {
    background-color: #FA4616!important;
    border-color: #FA4616!important;
    color: #FFF;
}

.skills1 {
    background-color: #FA4616;
}

.email {
    color: #747F8B
}

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #FA4616;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.timeline > li {
    position: relative;
    margin-bottom: 15px;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    color: #000 !important;
}

.timeline-flag {
    width: 35px;
    height: 35px;
    font-size: 22px !important;
    line-height: 35px !important;
    position: absolute;
    color: #fff !important;
    background: #fff;
    border-radius: 50% !important;
    text-align: center;
    left: 15px;
    top: 0px;
}

.timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #000;
    margin-left: 60px;

    padding: 0;
    position: relative;
}

.timeline-inverse > li > .timeline-item {
    background: #f4f8fb;
    border: 1px solid #e5ecf1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #333;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 14px;
    line-height: 1.1;
}

.timeline-inverse > li > .timeline-item > .timeline-header {
    border-bottom-color: #ddd;
}

.timeline-header a {
    border-right: 1px solid #ddd;
    padding-right: 5px;
}

.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 10px;
}

.timeline-body:after {
    clear: both;
}

.timeline-body {
    min-height: 35px;
    border-bottom: 1px solid #ddd;
}

.dayNumber {
    color: #999;
    font-size: 12px;
    float: right;
}

.timeline-description {
    margin-right: 40px;
}
.empty-history-inf-supp {
    position: absolute;
    top: 30px;
    font-size: 16px;
    text-align: center;
    color: #424242;
}

.field-new-line{
    margin-right: 100%;
}

.fa-phone:before {
    color: #747F8B;
}
.fa-envelope-open:before {
    color: #747F8B;
}

.text-muted {
    color: #747F8B !important;
    font-size: 15px;
}

.text-post {
    font-size: 15px;
}

.icon_user {
    width: 130px;
    higth: 130px;
}

.page-item.active .page-link {
    background-color: rgb(43,44,132)!important;
    border-color: rgb(43,44,132)!important;
}
.list-group-item-info:hover {
    text-decoration: none;
    background: #FA4616;
    color: #fff;
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    #margin-right: 8px;
    cursor: pointer;
    font-size: 24px;
    margin-top: -5px;
}

input[type=checkbox]:after {
    content: " ";
    background-color: #FA4616;
    display: inline-block;
    visibility: visible;
    color: #FFF;
    width: 30px;
    font-size: 24px;
    padding-left: 5px;
}

input[type=checkbox]:checked:after {
    content: "\2714";
}