<div class="dropdown open">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        =
    </button>
    <div class="dropdown-menu main-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item list-group-item-info" href="#">Документы</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_team') }}">Наша команда</a>
        <a class="dropdown-item list-group-item-info" href="#">Текущие проекты</a>
        <a class="dropdown-item list-group-item-info" href="#">Тестирование</a>
        <a class="dropdown-item list-group-item-info" href="#">Календарь событий</a>
        <a class="dropdown-item list-group-item-info" href="{{ path('user_map') }}">Карта адаптации</a>
        <a class="dropdown-item list-group-item-info" href="#">Идеи и предложения</a>
    </div>
</div>